<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1>Add Team Members to Project:</h1>
            <h2><%= @project.name %></h2>
            <%= form_for [@project, @team] do |f| %>
                <%= render partial: "layouts/errors", locals: {record: @team} %>
                <p>Select the Site Manager:</p>
                <%= f.select(:site_manager_id, User.all.collect {|u| [u.name, u.id]} ) %>

                <%= f.submit "Add Site Manager" %>
              <% end %>
        </div>
    </div>
</div>