<h1>New member? Register here.</h1>

<%= form_with model: @user do |f| %>
    <%= f.label "Name:" %>
    <%= f.text_field :name %><br/>
    <%= f.label "E-Mail:" %>
    <%= f.email_field :email %><br/>
    <%= f.label "Password:" %>
    <%= f.password_field :password %><br/> 
    <%= f.submit "Join Paragon today!" %>
  <% end %>