<h1 class="text-center"><%= @project.name %></h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h2 class="text center">Project Details</h2>
            <ul>
                <li>Location: <%= @project.location %></li>
                <li>Start Date: <%= @project.start_date %></li>
                <li>End Date: <%= @project.end_date %></li>
                <li>Description: <%= @project.description %></li>
                <% if current_user.admin? %>
                    <li>Revenue Estimate: $<%= @project.revenue_estimate %></li>
                    <li>Cost Estimate: $<%= @project.cost_estimate %></li>
                <% end %>
            </ul>
        </div>
        <div class="col-sm-12 offset-md-4 col-md-4">
            <h2 class="text center">Project Teammates</h2>
            <%= link_to "See Project Team", project_roles_path(@project), class: "btn btn-success btn-lg w-auto m-3" %>
        </div>
    </div>
</div>

<% if current_user.admin? %>
    <div class="row flex-column align-items-center bg-light p-4">
    <h3 class="text-center"> Admin Controls </h3>
        <%= link_to "Edit #{@project.name}", edit_project_path(@project), class: "btn btn-warning btn-lg w-auto" %>
        <div class="border border-danger p-4 my-3 w-auto text-center">
            <h3>Danger Zone: Action Can't Be Undone!</h3>
            <%= button_to "Delete #{@project.name}", project_path(@project), method: :delete, class: "btn btn-danger btn-lg", data: { Confirm: 'Are you sure?' } %>
        </div>
    </div>
<% end %>