<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h3>Edit <%= @role.title %></h3>
            <%= form_for [@project, @role] do |f| %>
                <%= render partial: "layouts/errors", locals: {record: @role} %>
                <p>Title:</p>
                <%= f.text_field :title %>
                <%= f.submit "Edit Team Role" %>
              <% end %>
        </div>
    </div>
</div>