<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h3>Add Teammate to <%= @project.name %> Project:</h3>
            <%= form_for [@project, @role] do |f| %>
                <%= render partial: "layouts/errors", locals: {record: @role} %>
                <p>Select the Team Member:</p>
                <%= f.select(:user_id, User.where.not(id: @project.users).collect {|u| [u.name, u.id]}, {prompt: 'Select Person'} ) %><br>
                <p>Title:</p>
                <%= f.text_field :title %>
                
                <%= f.submit "Add Teammate" %>
              <% end %>
        </div>
    </div>
</div>